{
  "presets": ["@babel/env", ["@babel/preset-react", { "runtime": "automatic" }], "@babel/preset-typescript"],
  "plugins": [
    [
      "react-css-modules", {
        "generateScopedName": "_[local]_[hash:base64:5]"
      }
    ]
  ]
}
